{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="listing_item">
            <div class="listing_item_image">
                <img src="{{listing.image_url}}" alt="Listing Image">
            </div>
            <div class="listing_item_info">
                <h3><a href="{% url 'listing_detail' listing.id %}">{{listing.title}}</a></h3>
                <p><strong>Price:</strong> ${{listing.price}}</p>
                <div class="description">
                    {% if listing.description %}
                        <p class="description">{{listing.description}}</p>
                    {% endif %}
                </div>
                <p>Created {{listing.date_created}}</p>
            </div>
            <div  class="watchlist" >
                {% if user.is_authenticated %}
                <a id="izbranniy"  class="watchlist-a" href="{% url 'add_to_favorites' product_id=listing.id %}">Избранные добавление</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}